<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
      Set the default logging level to DEBUG when running locally.
      Within a container, LOG_LEVEL will always be injected as an environment variable.
    -->
    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Quieter logging for noisy libraries in production/default -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>

</configuration>