---
import Header from '@components/layout/Header.astro';
import Head from '@components/layout/Head.astro';
---

<!doctype html>
<html lang="en">
  <Head title="About" />
  <body>
    <Header />
    <h1>This is the about page</h1>
  </body>
</html>
