---
import Header from "@components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Reconciler Public Site</title>
  </head>
  <body>
    <Header></Header>

    <h1>Welcome to the Reconciler Public Site</h1>
    <p>
      Open the Dashboard App:
      <a href="/dashboard">"/dashboard"</a>
    </p>
    <p>
      About page:
      <a href="/about">"/about"</a>
    </p>
    <div id="root"></div>
  </body>
</html>
