---
import Header from '@components/layout/Header.astro';
import Head from '@components/layout/Head.astro';
---

<!doctype html>
<html lang="en">
  <Head title="Home" />
  <body>
    <Header />
    <h1>Welcome to Reconciler</h1>
  </body>
</html>
