---
import Base from '@layout/Base.astro';
import LoginForm from '@components/auth/LoginForm.astro';
import LoginModal from '@components/auth/LoginModal.astro';
import ValidationErrorList from '@layout/auth/ValidationErrorList.astro';
import FormLink from '@components/auth/FormLink.astro';
---

<Base title="Login">
  <div class="flex min-h-full flex-col items-center justify-center px-4">
    <!-- TODO: replace with inline errors -->
    <ValidationErrorList />
    <LoginForm />
    <div
      class="mt-5 flex flex-row justify-between gap-20 max-[26rem]:flex-col max-[26rem]:items-center max-[26rem]:gap-4"
    >
      <FormLink href="/register">Don't have an account?</FormLink>
      <!-- TODO: add forgot password page and link it here-->
      <FormLink href="#">Forgot password?</FormLink>
    </div>
  </div>

  <LoginModal />
  <script src="/src/scripts/login.ts"></script>
</Base>
