---
import Base from '@layout/Base.astro';
import LoginForm from '@components/LoginForm.astro';
import LoginModal from '@components/LoginModal.astro';
---

<Base title="Login">
  <div class="flex flex-col items-center justify-center min-h-full px-4">
    <LoginForm />
    <LoginModal />
  </div>

  <script src="/src/scripts/login.ts"></script>
</Base>
