---
import Base from '@layout/Base.astro';
import LoginForm from '@components/auth/LoginForm.astro';
import LoginModal from '@components/auth/LoginModal.astro';
import ValidationErrorList from '@layout/auth/ValidationErrorList.astro';
---

<Base title="Login">
  <div class="flex min-h-full flex-col items-center justify-center px-4">
    <!-- TODO: replace with inline errors -->
    <ValidationErrorList />
    <LoginForm />
  </div>

  <LoginModal />
  <script src="/src/scripts/login.ts"></script>
</Base>
