---
import LoginModal from '@components/LoginModal.astro';
import RegisterForm from '@components/RegisterForm.astro';
import Base from '@layout/Base.astro';
---

<Base title="Register">
  <div class="flex flex-col items-center justify-center min-h-full px-4">
    <RegisterForm />
    <LoginModal />
  </div>

  <script src="/src/scripts/register.ts"></script>
</Base>
