# Build output directories
target/
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/

# Eclipse IDE files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans IDE files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code settings
.vscode/

# Maven wrapper (not needed when using Docker)
.mvn/
mvnw
mvnw.cmd

# Environment variable files
.env*
!.env*.example
