services:
  db:
    container_name: reconciler-${APP_ENV}-db
    image: postgres:17
    pull_policy: missing
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - main

  api:
    image: anibalxyz/reconciler-${APP_ENV}-api:latest
    container_name: reconciler-${APP_ENV}-api
    env_file:
      - ./backend/.env.${APP_ENV}
    environment:
      - APP_ENV=${APP_ENV}
    ports:
      - "${API_PORT}:4000"
    networks:
      - main

  # TODO: solve the following warning
  #   WARNING: Storing migrations in 'sql' is not recommended and default
  #   scanning of this location may be deprecated in a future release
  #   A more recent version of Flyway is available. (...)
  flyway:
    image: flyway/flyway:11-alpine
    container_name: reconciler-${APP_ENV}-flyway
    volumes:
      - ./backend/db/migrations:/flyway/sql
    command:
      - -url=jdbc:postgresql://${DB_HOST}:5432/${DB_NAME}
      - -user=${DB_USER}
      - -password=${DB_PASSWORD}
      - -connectRetries=20
      - -connectRetriesInterval=3
      - migrate
    networks:
      - main

networks:
  main:
    name: reconciler-${APP_ENV}

volumes:
  database:
    name: reconciler-${APP_ENV}-db
