# ---------------------------------------------- #
# ==> Test Overrides                             #
# ---------------------------------------------- #

# Needed for compose (todo: check)
APP_ENV=test

# Available: TRACE, DEBUG, INFO, WARN, ERROR, OFF
LOG_LEVEL=INFO

# Format: ISO 8601 date-time (e.g., 2026-05-12T00:00:00Z)
SYSTEM_TIME_OVERRIDE=
