/* Temporal styles. Just for testing*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #4caf50;
  margin-bottom: 1em;
}

.apiStatus {
  font-weight: bold;
  font-size: 1.1em;
}

.statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.statusContainer span:first-child {
  margin-right: auto;
}

.homeLink {
  position: absolute;
  left: 10px;
  top: 10px;
}
