---
import '@common/styles/global.css';
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <!-- TODO: add SEO stuff...-->
  <title>{`${title} | Reconciler`}</title>
</head>
